/lesson2/nbproject/private/
/lesson2/build/
/lesson2/dist/
/test_use_lib/nbproject/private/
/test_use_lib/build/
/prac2_1/nbproject/private/
/prac3_1/nbproject/private/
/prac3_2/nbproject/private/
/prac4_1/nbproject/private/
/lesson3/nbproject/private/
/lesson3/build/
/lesson4/nbproject/private/
/2.polymorphism_vmi/nbproject/private/
/lesson4.1.override_vmi/build/
/lesson4.1.override_vmi/nbproject/private/
/lesson4.2.polymorphism_vmi/nbproject/private/
/lesson4.3.casting/build/
/lesson4.3.casting/nbproject/private/
/lesson4.4.override_object_methods/build/
/lesson4.4.override_object_methods/nbproject/private/